.custom-shape-divider-top-1636188883 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1636188883 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 167px;
}

.custom-shape-divider-top-1636188883 .shape-fill {
  fill: #7fcdf3;
}
